.resourcesheader {
    margin: 15px 0 10px 0;
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, sans-serif;
    /* border: 1px solid  gray; */
    font-size:  40px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 34px;
}