.resourcesheader {
    margin: 15px 0 10px 0;
    text-align: center;
    color: black;
    font-family: "Times New Roman", Times, serif !important;
    /* border: 1px solid  gray; */
    font-size:  40px;
}